<html>
<body>
<form action="/signin" method="post" class="pull-right">
 <input id="username" name="username" class="input-small" type="text" placeholder="Username">
 <input id="password" name="password" class="input-small" type="password" placeholder="Password">

    <button class="btn" type="submit">Sign in</button>
 </form>

<form action="/login" method="post" class="pull-right">
 <input id="loginname" name="loginname" class="input-small" type="text" placeholder="Username">
 <input id="loginpassword" name="loginpassword" class="input-small" type="password" placeholder="Password">

    <button class="btn" type="submit">Login in</button>
 </form>
 
</body>
</html>